<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.breezehan.ipc">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <permission android:name="com.breezehan.ipc.permission.BookManagerService" />

    <uses-permission android:name="com.breezehan.ipc.permission.BookManagerService" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />

        <service
            android:name=".BookService"
            android:process=":remote" />

        <activity
            android:name=".bundle.SecondActivity"
            android:process="com.breezehan.ipc.remote" />
        <activity android:name=".messenger.MessengerActivity" />

        <service
            android:name=".messenger.MessengerService"
            android:process="com.breezehan.ipc.messenger" />

        <provider
            android:name=".provider.BookProvider"
            android:authorities="com.breezehan.ipc.book.provider"
            android:permission="com.breezehan.PROVIDER"
            android:process=":provider" />

        <activity android:name=".provider.ProviderActivity">

        </activity>

        <service android:name=".binderpool.BinderPoolService" />

        <activity android:name=".binderpool.BinderPoolActivity">
            <intent-filter>
                <!--注意使用不同Activity时-->
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>